---
- name: Ensure unattended-upgrades package
  become: yes
  package:
    name: "unattended-upgrades"
    state: present
  retries: 3
  delay: 10
  register: "unattended_upgrades"
  until: "unattended_upgrades is succeeded"

- name: Ensure noninteractive configuration of upgrades
  become: yes
  become_user: root
  shell:
    cmd: |
      echo unattended-upgrades unattended-upgrades/enable_auto_updates boolean true | debconf-set-selections
  changed_when: False

- name: Configure automatic upgrades
  become: yes
  become_user: root
  command: dpkg-reconfigure -f noninteractive unattended-upgrades
  args:
    creates: /etc/apt/apt.conf.d/20auto-upgrades

- name: Enable -updates in Allowed-Origins
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^\s*//\s*"\$\{distro_id\}:\$\{distro_codename\}-updates";'
    line: '        "${distro_id}:${distro_codename}-updates";'
    state: present
    backrefs: yes
